<a href="https://colab.research.google.com/github/Keerthishankar-Punchithaya/Assignments/blob/main/Copy_of_Assignment_on_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Define a Function to calculate the geometric sum of n numbers Note: In mathematics, a geometric series is a series with a constant ratio between successive terms.

Function should take 3 arguments a,r,n where a is constant, r is common ratio, n is number of terms

To Know More about Geometric Series: https://en.wikipedia.org/wiki/Geometric_series

In [ ]:
def g_sum(a,r,n):
  sum=a*(1-r**n)/(1-r)
  return sum

In [ ]:
a=int(input("Enter first digit:"))
r=int(input("Enter ratio digit:"))
n=int(input("Enter power digit:"))
print(g_sum(a,r,n))

Enter first digit:1
Enter ratio digit:2
Enter power digit:10
1023.0

Q2. Write a Python function to multiply all the numbers of 2 lists and store in the new list. Calculate the sum of the new list. Function should take input as 2 lists and return the sum of the new list. List input should be takenfrom the user.

Sample
List1 : [8, 2, 3, 1, 7]
List2 : [2, 3, 4, 5, 6]

New List will have elements as

List1[0] * List2[0]

List1[1] * List2[1]

and so on.


newList : [16, 6, 12, 5, 42]

Expected Output : 81

In [ ]:
def sqr(list1,list2):
  sum=0
  for i in range(len(list1)):
    sum+=list1[i]*list2[i]
  return sum

In [ ]:
list1=list(map(int,input("List1: ").split()))
list2=list(map(int,input("List2: ").split()))
print("Output: ",sqr(list1,list2))

List1: 8 2 3 1 7
List2: 2 3 4 5 6
Output:  81

Q3 Write a Function which takes list of numbers as input and returns their squares as a list

input - [1,2,3,4]
output - [1,4,9,16]

In [ ]:
def sqr(list1):
  for i in range(len(list1)):
    list1[i]=list1[i]**2
  return list1

In [ ]:
list1=list(map(int,input("List: ").split()))
print("Output: ",sqr(list1))

List: 1 2 3 4
Output:  [1, 4, 9, 16]

Q4. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included) and then the program should print the dictionary.

Suppose the input is supplied to the program: 8
Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
def create_dict(n):
  d={}
  for i in range(n):
    d[i+1]=(i+1)*(i+1)
  print("Dictionary is :",d)

In [ ]:
n=int(input("Enter a number: "))
create_dict(n)

Enter a number: 8
Dictionary is : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q5.Define a function that calculates the factorial of a given number. Factorial is the product of all positive integers less than or equal to a given positive integer.
Function will take exactly one argument. Find the factorial for (N=5)

In [ ]:
def factorial(n):
  p=1
  for i in range(n,1,-1):
    p*=i
  return p

In [ ]:
n=int(input("Enter a number: "))
print(n,"factorial equals",factorial(n))

Enter a number: 5
5 factorial equals 120

Q6. Write a function to find the maximum element in a given list.    
sample list : [2,5,4,8,1]                 
Expected output : 8

In [ ]:
def max(list1):
  max=list1[0]
  for i in list1:
    if i>max:
      max=i
  return max

In [ ]:
list1=list(map(int,input("Enter the list: ").split()))
print("Maximum element is",max(list1))

Enter the list: 2 5 4 8 1
Maximum element is 8

Q7. Create a function that checks whether a given number is even or odd.   
      Check for (N=4)

In [ ]:
def check_type(n):
  flag="Odd"
  if n%2==0:
    flag="Even"
  return flag

In [ ]:
n=int(input("Enter a number"))
print("The number is ",check_type(n))

Enter a number5
The number is  Odd

Q8.Create a Python program that imports the math module and uses its sqrt function to calculate the square root of a given number.  
Calculate for (number=25)

In [ ]:
import math

In [ ]:
n=int(input("Enter number to insert: "))
print("Square root",n,"is",math.sqrt(n))

Enter number to insert: 25
Square root 25 is 5.0

Q9. Write a Python module with a function that generates a random number between a specified range. Use random module for this problem and the range between 100 to 500.

In [ ]:
import random

In [ ]:
range=list(map(int,input("Enter range: ").split()))
print("Random number is ",random.randrange(range[0],range[1]))

Enter range: 100 500
Random number is  302

Q10. Create a Python program that uses the datetime module to display the current date and time.

In [ ]:
import datetime

In [ ]:
print(datetime.datetime.now())

2023-11-29 13:03:02.353936

Q11. Design a function that accepts a list of strings, converts each string to uppercase, and returns the modified list. Note - You can not use any buil-in function

In [16]:
def func(slist):
  alphabet_dict={'a':'A','b':'B','c':'C','d':'D','e':'E','f':'F','g':'G','h':'H','i':'I','j':'J','k':'K','l':'L','m':'M','n':'N','o':'O','p':'P','q':'Q','r':'R','s':'S','t':'T','u':'U','v':'V','w':'W','x':'X','y':'Y','z':'Z'}
  for i in range(len(slist)):
    # print(slist[i])
    str=slist[i]
    cap_str=""
    for j in range(len(str)):
      cap_str+=alphabet_dict.get(str[j])
    # print(cap_str)
    slist[i]=cap_str
  return slist


slist=list(map(str,input("Enter list of string: ").split()))
print("String of list to uppercase: ",func(slist))

Enter list of string: abc def ghi
String of list to uppercase:  ['ABC', 'DEF', 'GHI']

Q12. Develop a function that takes user input and validates whether it's a valid email address using regular expressions.  ( For example email id should have @ and '.com' )

In [ ]:
def validate(email):
  at_index=email.find('@')
  dot_index=email.find('.com')
  flag=False
  if at_index!=-1 and dot_index!=-1 and at_index<dot_index:
    flag=True
  return flag

email=input("Enter email: ")
print(validate(email))

Enter email: abc@gmail.com
True

Q13. Design a function that removes duplicates from a list without using set() or other built-in functions.

In [5]:
def remove_duplicate(list1):
  unique_list=[]
  for i in list1:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list
list1=list(map(int,input("Enter a list: ").split()))
print("List without duplicates: ",remove_duplicate(list1))

Enter a list: 1 2 2 3 5 4 6 8
List without duplicates:  [1, 2, 3, 5, 4, 6, 8]

Q14. Create a function that reverses the order of words in a string without using any built-in reverse or split functions.

In [12]:
def reverse(str):
  return str[::-1]
str=input()
print(reverse(str))

hello
olleh

Q15. Create a function that takes a string input and counts the number of vowels in it without using count() or any built-in library functions.

In [17]:
def count_vowel(str):
  count=0
  vowels="aeiou"
  for i in str:
    if i in vowels:
      count+=1
  return count

str=input("Enter a word: ")
print("Number of vowels: ",count_vowel(str))

Enter a word: consonent
Number of vowels:  3